.ps3-wave-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.ps3-wave-canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.ps3-wave-canvas canvas {
  display: block;
  width: 100%;
  height: 100%;
}
